<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Blog</title>
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
</head>

<body>
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarMain"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand"
                href="/">Recipes</a>
            <div class="navbar-collapse collapse" id="navbarMain">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" routerLink="list">Recipe list</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="about">About us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
        <footer>
            <div class="row">
                <div class="col-12"><small>&copy; Recipes site @ Milita Dabhi</small></div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>